* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body {
    /* position: relative;
    align-items: center; */
    margin: 0px;
    width: 2160px;
    height: 3840px;
    background-color: #AF0000;
}
.home-screen {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 3840px;
    gap: 120px;
    padding-block: 440px;
    background-image: url(/assets/background-assets.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.title {
    /* position: relative; */
    width: 100%;
    height: 674px;
    z-index: 5;
    background-image: url(/assets/Title.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.h1 {
    margin: 0px;
    width: 1410px;
    text-align: center;
    font-family: Open Sans;
    font-size: 100px;
    line-height: 120%;
    font-weight: 700;
    color: #FDF493;
}
.desc {
    margin: 0px;
    width: 1384px;
    text-align: center;
    font-family: Open Sans;
    font-size: 76px;
    line-height: 120%;
    font-weight: 400;
    color: #FDF493;
}
.action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.btn {
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* justify-content: center; */
    color: #DB0011;
    font-family: Open Sans;
    font-size: 92px;
    line-height: 120%;
    font-weight: 700;
    width: 682px;
    height: 240px;
    background-image: url(/assets/CTA-Button.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.btn:hover {
    transform: scale(104%);
    transition: 300ms;
}
video {
    position: absolute;
    top: 150px;
    right: 150px;
}